a:link {
        color: #f58a42;
      }
      a:visited {
        color: purple;
      }
      a:hover {
        color: hotpink;
      }
      a:active {
        color: green;
      }
      .lnks{
        font-size: 120%;
        display: inline-block;
        max-width: 300px;
        float: left;
      }
      .abt{
        display: inline-block;
        margin-left: 20px;
        max-width: 480px;
      }
      .maincon{
        margin: 20px 10%;
        min-width: 800px;
        border: 1px dotted pink;
        padding: 10px;
        overflow: auto;
      }
      body{
        background: black;
        font-family: Helvetica, sans-serif;
        color: #f58a42;
      }