* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
table {
background-color:white;
  border-collapse: collapse;
}
table tr:nth-child(odd) {
  background: #f2f2f2;
}
table td {
  border: 1px solid #ddd;
  padding: 4px;
}
body{
background-color:grey;
}
.ban{
background:#e36f7f !important;
}
.good{
background:#83eb8a !important;
}
.monkey{
background:#e8f05d !important;
}