body{
background-image: url("../img/pokebg.png");
width:520px;
  margin: 20px auto;
  color: white;
}
a:visited {
  color: white;
	font-size: 18px;
  text-shadow: 2px 2px 4px #000000;
}
.maincon{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding:10px;
} 
.central{
  text-align: center;
}
#balance{display:none;}
#anonf{margin: 3px;}
@media only screen and (max-width: 640px) {
  body{
    background-image: url("../img/pokebg.png");
    width:90%;
    margin: 5% auto;
    color: white;
  }
  img{
    max-width: 300px;
  }
}
